@import url("../fonts/myriad-pro/myriad-regular.css");
@import url("../fonts/NeoSans/neosans.css");
@import url("../fonts/NeoSans-Medium/neosans-medium.css");
/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/

body ::selection { background: #2CB3FF; }
body ::-moz-selection {
 background: #2CB3FF;
}
body {
	color: #333;
	font-size: 12px;
	font-family: 'MyriadProRegular';
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
p {
	margin: 1px 0 15px;
	line-height: 20px;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/* style button
----------------------------------------------------------------------------------------------*/
#btn_login { }
/* header
----------------------------------------------------------------------------------------------*/
header {
	position: relative;
	background-color: #ee3425;
}
header .left { margin-left: 45px; }
header .left .logo {
	float: left;
	padding-bottom:5px;
	padding-top:5px;
}
header .left a {
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
}
header .right { margin-right: 45px; }
header .right ul {
	list-style-type: none;
	margin: 0;
}
header .right ul li {
	float: left;
	/*position: relative;*/
}
header .right ul li a {
	font-size: 14px;
	color: #FFF;
	display: block;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 17px;
	padding-bottom: 17px;
	text-decoration: none;
}
header .right ul li a.active { background-color: #000; }
#submenu{
	position: relative;
	background-color: #0a0303;
	text-align: center;
	z-index: 3;
	background-image: url(../images/material/bg-submenu.jpg), url(../images/material/bg-submenu-02.jpg);
	background-repeat: no-repeat;
	background-position: left, right;
}
#submenu ul{
	margin: 0;
	padding: 0;
	height: 40px;
}
#submenu ul li{ display:inline-block; float:none; }
#submenu ul li a{
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	font-size: 14px;
	color: #FFF;
	display:inline-block;
}
#submenu ul li.active{
	padding-bottom: 18px;
	background-image: url(../images/material/arrow-submenu.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
#banner{}
#banner img{ width:100%; height:auto; }
section { position: relative; }
#container{ margin-left:1px;}
.box { 	background-color:#ff4499; height:191px;
			-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
        
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;


                 
        				}
			
.box.size1{ width:195px; height:191px; background-color:#063;}
.box.size2{ width:390px; background-color:#03C;}
.box.thumb{ width:390px; height:382px; }


.size21, .size22, .size23, .twocols { background: #ccc }
.size31, .size32, .size33, .threecols { background: #ff9999 }
#happyqerja{
	background-image: url(../images/material/bg-red.jpg);
	background-repeat: repeat;
}
#happyqerja h2{
	font-size: 30px;
	color: #fff;
	font-family: 'NeoSansMedium';
}
#happyqerja p{
	font-size: 13px;
	color: #FFF;
}
#thumb-qerja{
	background-image: url(../images/material/shadow-qerja.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	background-color: #ec3a23;
	padding-top: 40px;
}
footer .left{
	width: 320px;
	margin-left: 45px;
	font-size: 13px;
	color: #FFF;
}
footer .left h3{
	font-family: 'NeoSansMedium';
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
}
footer .left a{
	color: #f9981a;
	text-decoration: none;
	background-image: url(../images/material/arrow-link.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}
footer .right{ margin-right:45px;}
footer .right ul{
	list-style-type: none;
	margin: 0;
	width: 600px;
	float: left;
	padding:0;
}
footer .right ul li{
	float: left;
	margin-bottom: 10px;
}
footer .right ul li a{
	color: #FFF;
	background-image: url(../images/material/list-footer.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	text-decoration: none;
	font-size: 13px;
	display: block;
	width: 185px;
}
footer .right .socmed{ float: right; }
footer .right .socmed a{
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	display:block;
	margin-bottom:10px;
}
footer .right .socmed a img{ vertical-align:middle; }
footer .copyright{
	text-align: center;
	font-size: 13px;
	color: #777;
	margin:0;
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top:30px;
}
footer .copyright a{
	color: #ccc;
	text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
